<!DOCTYPE html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="content-container"><%= reactApp %></div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
